@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  background-color: white;
  color: #1e1e1e;
}
a {
  text-decoration: none;
}
p {
  font-size: 14px;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 22px;
  margin-bottom: 18px;
}
i.fi {
  color: #1e1e1e;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h1,
  h2 {
    text-align: center;
  }
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1024px) {
  h1,
  h2 {
    text-align: center;
  }
  p {
    font-size: 20px;
    font-weight: 500;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-40px);
  }
}
@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes showImg {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes closeImg {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(120px);
  }
}
@keyframes showForm {
  from {
    opacity: 0;
    top: 10%;
  }
  to {
    opacity: 1;
    top: 50%;
  }
}
@keyframes hideForm {
  from {
    opacity: 1;
    top: 50%;
  }
  to {
    opacity: 0;
    top: 10%;
  }
}
@keyframes onPoint {
  from {
    height: 11vh;
  }
  to {
    height: fit-content;
  }
}

:root {
  --warna-saatIni: #74bd7bd0;
}
header {
  position: fixed;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  z-index: 100;
}
.main-nav > section > img {
  width: 35px;
  border: 2px solid #1e1e1e;
  border-radius: 6px;
  padding: 4px;
}
.main-nav > section.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding-top: 11px;
}
.main-nav > i {
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  height: 35px;
  transition: 300ms;
}
section > a,
.change-color div {
  transition: 300ms;
}
.mulai > a {
  color: #1e1e1e;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  text-align: start;
}
nav button {
  width: max-content;
  padding: 12px 14px;
  border: none;
  border-radius: 6px;
}
.main-nav > i:hover ~ section.sosial-media,
.main-nav > .image:hover ~ button.mulai,
.main-nav > section:hover,
.change-color:hover > section,
.change-color > section:hover,
nav button.mulai:hover {
  display: flex;
}
section > a:hover,
.change-color div:hover {
  margin-top: -8px;
}
.main-nav,
.change-color {
  background-color: var(--warna-saatIni);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: 50px;
  gap: 14px;
}
.main-nav > .sosial-media,
.mulai,
.change-color section {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  animation: slideRight 0.3s ease forwards;
  background-color: white;
  z-index: 9999;
  border-radius: 6px;
  font-size: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 6px;
  gap: 10px;
  right: 50px;
}
.main-nav > section.sosial-media {
  top: 50px;
}
.main-nav > button.mulai {
  cursor: pointer;
  top: 10px;
  height: 40px;
  width: 140px;
}
.change-color {
  margin-top: 10px;
  height: 48px;
  gap: 0px;
  cursor: pointer;
}
.change-color i {
  font-size: 18px;
  margin-bottom: -2px;
}
#kuning,
#ungu,
#hijau {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 1px dashed #1e1e1e;
  cursor: pointer;
}
#kuning {
  background-color: #d3cb70;
}
#ungu {
  background-color: #6b8ddd;
}
#hijau {
  background-color: #74bd7b;
  border: 1px solid #1e1e1e;
}

.ilstr {
  position: absolute;
  border: 1px solid red;
}
.contain-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  bottom: 0;
  right: 75px;
}
#ilstr-1 {
  margin-bottom: -130px;
  width: 10vw;
  margin-bottom: -150px;
  right: 70px;
}
#ilstr-1 p {
  color: rgba(0, 0, 0, 0.65);
  text-align: center;
  font-size: 15px;
  margin-left: -110px;
  margin-bottom: -18px;
  width: 150px;
}
#ilstr-2 {
  display: flex;
  justify-content: end;
  height: 27vh;
  width: 40vw;
  left: 0;
  bottom: 40px;
}
#ilstr-2 > svg {
  margin-right: -60px;
}
#ilstr-3 {
  display: flex;
  justify-content: start;
  align-items: end;
  height: 35vh;
  width: 45vw;
  right: 0;
  top: 0;
}
#ilstr-4 {
  display: flex;
  justify-content: start;
  height: 45vh;
  width: 35vw;
  right: 0;
  bottom: 0;
}
#ilstr-5 {
  display: flex;
  justify-content: end;
  align-items: end;
  height: 26vh;
  width: 33vw;
  left: 0;
  top: 0;
}

#form-section {
  display: none;
  position: fixed;
  z-index: 1020;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  left: 0;
}
#form {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  z-index: 1040;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  width: 450px;
}
#form-section.displayBlock {
  display: block;
}
#form.display {
  display: block;
  animation: showForm 0.3s ease forwards;
}
#form.closeForm {
  animation: hideForm 0.3s ease forwards;
}
#error.back {
  animation: slideUp 0.3s ease forwards;
}
#form > i {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  font-size: 12px;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  top: -9px;
  right: -8px;
}
input[type="text"],
input[type="email"],
input[type="number"] {
  font-size: 18px;
  padding: 18px 20px;
}
input[type="text"],
input[type="email"],
input[type="number"],
#form > button {
  display: block;
  width: 100%;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="checkbox"] {
  margin-right: 5px;
}
label {
  font-weight: 500;
  margin-top: 10px;
}
#form > button {
  background-color: var(--warna-saatIni);
  color: #1e1e1e;
  font-weight: 700;
  font-size: 18px;
  padding: 12px;
  border: none;
  cursor: pointer;
}
#form-img {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 50vh;
  width: 95vw;
  z-index: 1030;
  bottom: -110px;
  left: 0;
}

#form-img.display-ImgForm {
  display: flex;
}
#form-img1.show-form {
  animation: showImg 0.8s ease forwards;
}
#form-img2.show-form {
  animation: showImg 0.5s ease forwards;
}
#form-img1.close-form {
  animation: closeImg 0.6s ease forwards;
}
#form-img2.close-form {
  animation: closeImg 0.6s ease forwards;
}
#form-img2 {
  margin-top: 4px;
  margin-left: -60px;
  height: 35vh;
}
#warning {
  display: none;
}
#error {
  position: fixed;
  opacity: 0;
  border: 1px solid rgb(163, 21, 21);
  background-color: rgba(255, 163, 163, 0.527);
  animation: slideDown 0.3s ease forwards;
  border-radius: 6px;
  font-weight: 500;
  top: 10px;
  right: 30px;
  padding: 10px 15px;
  transition: 300ms;
}
main {
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  position: absolute;
  width: 100%;
  height: 100vh;
}
main > article {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  scroll-snap-align: start;
  padding: 10px 180px;
}
main > .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}
.warnaTeks {
  background-color: var(--warna-saatIni);
  padding: 0 6px;
}
button {
  padding: 12px 14px;
  background-color: var(--warna-saatIni);
  border: none;
  border-radius: 6px;
}
.btn-mulai > a {
  color: #1e1e1e;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
}

#ilstr-9 {
  display: flex;
  justify-content: end;
  align-items: start;
  bottom: 0;
  left: 0;
  width: 14vw;
  height: 27vh;
}
#ilstr-10 {
  display: flex;
  justify-content: end;
  align-items: start;
  bottom: 0;
  left: 0;
  width: 22vw;
  height: 38vh;
}
#ilstr-11 {
  display: flex;
  justify-content: start;
  align-items: start;
  bottom: 0;
  right: 0;
  width: 10vw;
  height: 39vh;
}
#ilstr-8 {
  display: flex;
  justify-content: start;
  align-items: start;
  bottom: 0;
  right: 0;
  width: 10vw;
  height: 46vh;
}
#ilstr-8 svg {
  transform: rotate(-90deg);
}
article.permasalahan {
  border: 1px solid red;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 60vw;
}
article.permasalahan p:nth-child(3){
  margin-top: 40px;
}
section.data-card {
  border: 1px solid red;  
  display: flex;
  justify-content: space-around;
  width: 50vw;
  height: 23vh;
  margin-top: 25px;
}
section.data-card .card {
  border: 1px solid rgb(50, 61, 212);
  cursor: pointer;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  width: 13vw;
  height: fit-content;
  margin: 10px;
  padding: 10px 18px 15px 18px;
}
section.data-card .card hr {
  color: var(--warna-saatIni);
}
section.data-card .card > p {
  font-weight: 700;
  color: #5d5d5d;
}
section.data-card .card b{
  display: inline-block;
  color: var(--warna-saatIni);
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 48px;
}
.info-lebih {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, height 0.3s ease;
  margin-top: 10px;
}
.info-lebih p {
  margin-bottom: 8px;
  font-size: 16px;
}
.info-lebih a {
  color: #1e1e1e92;
  font-size: 14px;
}
#ilstr-6 {
  display: flex;
  justify-content: end;
  bottom: 0;
  left: 0;
  width: 17vw;
  height: 21vh;
}
#ilstr-6 > svg {
  width: 8vw;
  height: 12vh;
}
#ilstr-7 {
  display: flex;
  right: 0;
  bottom: 0;
  height: 24vh;
  width: 19vw;
}
#ilstr-7 > svg {
  width: 7vw;
  height: 14vh;
}
article.VPS {
  border: 1px solid red;
}
article.VPS {
  position: relative;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.VPS > section {
  border: 1px solid red;
}
section.konten-utama {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 30px;
}
section.konten-VPS {
  border: 1px solid yellow;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.headline-VPS {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  position: relative;
}
section.headline-VPS > span {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: absolute;
  z-index: 1070;
  border-radius: 50%;
  font-size: 24px;
  font-weight: 500;
  border: 1px solid var(--warna-saatIni);
  color: #1e1e1e;
  width: 45px;
  height: 45px;
  line-height: 45px;
}
#VPS1,
#VPS2,
#VPS3 {
  z-index: 1010;
  display: flex;
  position: absolute;
  border: 1px solid red;
}
#VPS1 {
  z-index: 1020;
  justify-content: end;
  align-items: end;
  top: 0;
  left: 0;
  height: 8vh;
  width: 8vw;
}
#VPS2 {
  position: relative;
  justify-content: center;
  align-items: end;
  bottom: 0;
  left: 0;
  height: 18vh;
  width: 95%;
}
#VPS3 {
  justify-content: start;
  align-items: end;
  top: 0;
  right: 0;
  height: 3vh;
  width: 11vw;
}
.VPS-deskripsi {
  position: absolute;
  display: none;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  z-index: 1070;
  background-color: white;
  transition: 300ms;
  padding: 15px 20px;
  width: 250px;
  gap: 15px;
  border: 2px solid black;
  border-radius: 6px;
}
#VPS1 .VPS-deskripsi,
#VPS3 .VPS-deskripsi {
  top: 35px;
  animation: slideDown 0.4s ease forwards;
}
#VPS2 .VPS-deskripsi {
  bottom: 0;
  animation: showImg 0.4s ease forwards;
}
.VPS-deskripsi svg {
  border: 1px solid red;
  height: 13vh;
  margin: auto;
}
.VPS-deskripsi h4 {
  font-size: 18px;
}
.VPS-deskripsi p {
  font-size: 16px;
}
section.headline-VPS > span:hover ~ .VPS-deskripsi,
.VPS-deskripsi:hover {
  display: flex;
}

.pricing-card img {
  border: 1px solid red;
  height: 100%;
  margin: auto;
}
.pricing-card {
  width: 80%;
  height: 30vh;
  display: flex;
  margin: 15px;
  padding: 40px 25px;
  background: #ffffff;
  text-align: center;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  position: relative;
}
.pricing-card .deskripsi-konten {
  width: 90%;
  border: 1px solid red;
  margin: 0px 10px;
}
.pricing-card .title {
  font-size: 24px;
  color: #333;
}
.pricing-card .price {
  color: var(--warna-saatIni);
  font-weight: 700;
  font-size: 20px;
}
.pricing-card span {
  font-size: 14px;
}
.pricing-card .reward {
  border: 1px solid red;
  font-size: 14px;
  display: flex;
  margin: 0 40px;
  padding: 5px 10px;
  flex-direction: column;
  align-items: center;
}
.pricing-card button {
  padding: 8px 10px;
  margin-top: 5px;
}
.pricing-card button a {
  font-size: 14px;
}
.ribbon-wrap {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -15px;
  left: -5px;
  pointer-events: none;
}
.ribbon {
  width: 230px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 8px 0;
  background: linear-gradient(to right, #ffd700, #ffaf0f);
  color: #1e1e1e;
  position: absolute;
  transform: rotate(-45deg);
  right: -17px;
  top: 30%;
}
.container-countdown {
  display: flex;
  position: absolute;
  font-weight: bold;
  gap: 5px;
  bottom: 10px;
  left: 15px;
}

#ilstr-12 {
  display: flex;
  align-items: start;
  justify-content: end;
  left: 0;
  bottom: 0;
  width: 25vw;
  height: 16vh;
}
#ilstr-13 {
  display: flex;
  align-items: end;
  justify-content: start;
  right: 0;
  top: 0;
  width: 14vw;
  height: 18vh;
}
#ilstr-14 {
  display: flex;
  align-items: end;
  justify-content: end;
  left: 0;
  top: 0;
  width: 14vw;
  height: 24vh;
}
#ilstr-14 svg{
  transform: rotate(-40deg);
}

article.review-fitur {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
  position: relative;
  margin: auto;
  width: 70vw;
}
article.review-fitur .deskripsi {
  border: 1px solid red;
}
article.review-fitur .deskripsi p{
  margin-top: 10px;
}
section.fitur {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
}
section.fitur-card {
  display: none;
  flex-direction: row-reverse;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 18px;
  border-radius: 6px;
  gap: 10px;
  margin: 15px 50px;
}
section.fitur-card img {
  width: 40%;
}
section.fitur-card.displaySlide {
  display: flex;
}
section.tombolSlider {
  border: 1px solid red;
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  top: 50%;
  transform: translateY(-50%);
  gap: 30px;
  width: 100%;
}
section.tombolSlider i {
  font-size: 30px;
}

article.pageTerakhir {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  bottom: 0px;
}
footer p {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.65);
}
.progress-container {
  width: 100%;
  height: 5px;
  background: #ccc;
}
.progress-bar {
  height: 5px;
  background-color: var(--warna-saatIni);
  width: 0%;
}

@media only screen and (max-width: 1850px) {
  .pricing-card {
    padding: 10px;
    width: 70%;
    height: 34vh;
  }
  .pricing-card .title {
    font-size: 22px;
    color: #333;
  }
  .pricing-card img {
    height: 80%;
  }
  .pricing-card span {
    font-size: 12px;
  }
  .pricing-card .price {
    font-size: 18px;
  }
  .pricing-card .deskripsi-konten {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .pricing-card .reward {
    font-size: 12px;
    margin: 0;
  }
  .container-countdown {
    font-size: 14px;
  }
  #ilstr-9 {
    width: 14vw;
    height: 20vh;
  }
  #ilstr-10 {
    width: 22vw;
    height: 30vh;
  }
  #ilstr-11 {
    width: 10vw;
    height: 36vh;
  }
  #ilstr-8 {
    width: 10vw;
    height: 42vh;
  }
  section.data-card .card b {
    font-size: 30px;
  }
}
@media only screen and (max-width: 1600px) {
  .pricing-card {
    margin: 0px 10px;
    height: 40vh;
  }
  #form {
    width: 350px;
  }
  input[type="text"],
  input[type="email"],
  input[type="number"],
  form > button {
    padding: 15px;
  }
  input[type="text"],
  input[type="email"],
  input[type="number"] {
    font-size: 14px;
  }
  form > button {
    font-size: 16px;
  }

  section.headline-VPS > span {
    font-size: 20px;
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
  #ilstr-9 {
    width: 14vw;
    height: 16vh;
  }
  #ilstr-10 {
    width: 22vw;
    height: 23vh;
  }
  #ilstr-11 {
    width: 11vw;
    height: 30vh;
  }
  #ilstr-8 {
    width: 10vw;
    height: 36vh;
  }
  section.data-card .card b {
    font-size: 30px;
  }
}
@media only screen and (max-width: 1500px) {
  .pricing-card img {
    height: 65%;
  }
  .pricing-card .deskripsi-konten {
    padding: 15px 5px;
    width: 100%;
  }
  .pricing-card .title {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
  }
  .pricing-card span {
    font-size: 10px;
  }
  .pricing-card .price {
    margin-top: -15px;
    font-size: 16px;
  }
  .pricing-card button {
    padding: 6px 8px;
  }
  .pricing-card button a {
    font-size: 12px;
  }
  .ribbon-wrap {
    width: 80px;
    height: 100px;
  }
  .ribbon {
    width: 120px;
    font-size: 12px;
  }
  .container-countdown {
    font-size: 12px;
  }
  #ilstr-9 {
    width: 14vw;
    height: 14vh;
  }
  #ilstr-10 {
    width: 22vw;
    height: 21vh;
  }
  #ilstr-11 {
    width: 11vw;
    height: 28vh;
  }
  #ilstr-8 {
    width: 10vw;
    height: 34vh;
  }
  section.data-card .card b {
    font-size: 30px;
  }
}
